* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header, .section-subscribe{
    background-color: #35424a;
    color: white;
    border-bottom: 3px solid #A9508B;
    display: flex;
    height: 6.5rem;
    justify-content:space-between;
    align-items: center;
}

.header-brand, .subscribe-newsletter{
    margin-left: 10vw;
}

.header-navbar, .email{
    margin-right: 10vw;
}


span{
    color:#A9508B ;
}

ul li {
    color: white;
    display: inline;
    list-style-type: none;
    padding: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

a{
    color: white;
    text-decoration: none;
}
#home{
    color:#A9508B;
    font-weight: bold;
}
#home:hover,#services:hover,#about:hover{
    font-weight: bold;
    cursor: pointer;
    color: #cccccc;
}

h1, h1 span{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.main__index{
    background-image: url(./images/showcase.jpg);
    background-repeat: no-repeat;
    height: 63vh;
    color: white;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main__index h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5.05rem;
}

.main__index p{
    font-size: 1.25rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin: 4vh 10vw 0;
}

.subscribe-newsletter h3{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
}

#email__subscribe{
    font-size:0.8rem;
    padding: 2vh 0.5vw;
    width: 260px;
    height: 40px ;
}


button{
    background-color: #A9508B;
    color: white;
    padding: 2vh 2vw;
    font-size: 0.8rem;
    border: none;
    border-radius: 3px;
}

.section-course{
    display: grid;
    grid-template-areas: 'html css design';
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f4f4f4;
    padding: 1.8rem 0;
}

.html{
    grid-area: "html";
    text-align: center;
}

.css{
    grid-area: "css";
    text-align: center;
}

.design{
    grid-area: "design";
    text-align: center;
}

.section-course img{
    width: 5rem; 
    height: auto;
}

.section-course h4{
    margin: 1.25rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.6rem;
}

.section-course p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 0 0;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #A9508B;
    height: 8rem ;
    background-color: rgb(255,250,240)
     ;
}

footer p{
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 400;
}


@media screen and (max-width: 768px){
    header,.section-subscribe{
    flex-direction: column;
    height: 6rem;
    justify-content:center;
    align-items: center;
    }
    .header-brand,.subscribe-newsletter{
        margin: 10px 0 0 0;
    }
    
    .header-navbar,.email{
        margin: 5px 0 5px 0;
    }

    .main__index h2{
        font-size: 3.5rem;
    }
}

@media screen and (max-width:390px){
    header,.section-subscribe{
        height: auto;
    }
    h1, h1 span{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
    }
    .subscribe-newsletter h3{
        font-size: 1.2rem; ;
    }
    #email__subscribe{
        font-size:0.8rem;
        padding: 2vh 0.5vw;
        width: 200px;
        height: 30px ;
    }
    #subscribe{
        padding: 1.3vh 1vw;
    }
    .main__index h2{
        font-size: 2.8rem;
        line-height: 4rem;
    }
    
    .main__index p{
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin: 4vh 10vw 0;
    }

    .section-course img{
        width: 3rem; 
        height: auto;
    }
    
    .section-course h4{
        margin: 1rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2rem;
    }
    
    .section-course p {
        font-size: 0.7rem;
        line-height: 1.2rem;
    }
}